.navbar{
    background-color:skyblue;
}

.lb{
    color:coral;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:700;
    
}

.bd-navbar {
    background-color: #563d7c;
}

